<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css"  href="/../style.css">
</head>
<body>
	<h1>Edit</h1>
	<form method="POST" action="/threads/<%=content.id%>?_method=PUT">
	<textarea type="text" name="content" rows="15" cols="50" wrap="physical"><%=content.content%></textarea><br/>
	<button class="pure-button pure-button-primary">Submit</button>
</form>
</body>
</html>