<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Filter</title>
</head>
<body>
	<h1>Filtered Topics </h1><br/><button><a href="/threads">Home</a></button><br/>
	<button><a href="/threads/new">New Post</a></button><br/>
	<label for="filter">Filter by: </label>
		<button><a href="/threads/filter/comments">Comments</a></button>
		<button><a href="/threads/filter/likes">Likes</a></button>
	<ul>
	<% filter.forEach(function(filter){ %>
		<li><a href="/threads/<%= filter.id %>"><%= filter.title %></a> <p>Created: <%=filter.created_at%><br/>Comments: <%=filter.comments%></p></li>
	<% }) %>
</ul>
</body>
</html>