<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css"  href="/../style.css">
</head>
<body class="landing">
	<div class="pure-g">
		<div class="pic pure-u-1">
			<img class="pure-image pure-u-1-8" src="../trollface-dancing.gif">
			<img class="pure-image pure-u-1-8" src="../tumblr_m2apracbJt1qg6rkio1_500.gif">
			<img class="pure-image pure-u-1-8"src="../gif-8-bit-Teenage-Mutant-Ninja-Turtles-dance-706634.gif">
			<img class="pure-image pure-u-1-8" src="../tumblr_m2n2lllJtk1qcr7fqo1_r4_500.gif">
			<div class="enter pure-u-1 animated infinite pulse">
		</div>
			<img class="pure-image animated infinite pulse pure-u-1" src="../THE.png">
			</div><br/>
	</div>
</body>
<audio autoplay loop>
  <source src="/../451491_Trololo.mp3" type="audio/mpeg">
</audio>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../script.js"></script>
</html>