<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add New Username</title>
</head>
<body>
	<br/><button><a href="/threads">Home</a></button><br/>
	<form method="POST" action="/threads/man/newuser">
		<input type="text" name="username"><br/><input type="submit">
	</form>
	<form method="POST" action="/threads/random/newuser">
		<button>RANDOMIZE</button>
	</form>
</body>
</html>