<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add New Username</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css"  href="../style.css">
</head>
<body>
	<br/><button><a href="/threads">Home</a></button><br/>
	<form method="POST" action="/threads/man/newuser">
		<input type="text" name="username"><br/><input type="submit">
	</form>
	<form method="POST" action="/threads/random/newuser">
		<button>RANDOMIZE</button>
	</form>
</body>
</html>