.landing{
	text-align:center
}

.button-warning {
background: rgb(223, 117, 20);
}

h1{
	font-family: 'Press Start 2P', cursive;
}

body{
	font-family: 'Press Start 2P', cursive;
	font-size:12gpx;
}

.pure-g [class *= "pure-u"] {
   font-family: 'Press Start 2P', cursive;
}